@model Transportation.Models.Equipment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Replacement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Replacement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Radio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Radio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RadioNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RadioNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuiltIns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuiltIns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wheelchair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wheelchair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacityAdult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacityAdult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacityChild)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacityChild)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Select)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Select)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
