@model IEnumerable<Transportation.Models.Run>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmArrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmArrive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sequence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hardware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supervision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inactive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Select)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmArrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PmArrive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hardware)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inactive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Select)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
