@model Transportation.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endorsement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endorsement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AMReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AMReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PMReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PMReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatekeeper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatekeeper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GatekeeperNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GatekeeperNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaCode2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaCode2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatekeeper2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatekeeper2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatekeeper2Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatekeeper2Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone2Sort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone2Sort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaCode3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaCode3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prefix3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prefix3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Line3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Line3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatekeeper3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatekeeper3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gatekeeper3Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gatekeeper3Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone3Sort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone3Sort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email21Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email21Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2Sort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2Sort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email2Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email2Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email3Sort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email3Sort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Domain1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Domain1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website2Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website2Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website3Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website3Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetDesignator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetDesignator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TownCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TownCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Map)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Map)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Select)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Select)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Run)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Run.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
